* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5d37d8;
    --secondary-color:#B4E11E;
    --tertiary-color: #f5f3f3; 
    --quaternary-color: #020202;
}

body {
    color: var(--quaternary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* begin header */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 26px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding: 10px 50px;
    font-weight: lighter;
    font-size: 1.8vw;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
/* end header */

/* start hero */
.hero {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero img {
    border-radius: 50%;
    margin-bottom: 40px;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
/* end hero */

/* start about me */
h2 {
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
    margin: 10px 0;

}

.about-me h2 {
    border-bottom: none;
}

p {
    text-align: center;
    margin: 0 50px;
}
/* end about me */

/* start work */
.large-work {
    margin: 10px auto;
    padding: 25px;
    border-bottom: 2px solid var(--primary-color);
    width: 100%;
}

.large-work-image img {
    display: block;
    padding: 15px;
    margin: auto;
    object-position: top;
    width: 80%;
}

.workbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


h3 {
    text-align:center;
    padding: 15px 0;
}

.smaller-work {
    margin: 10px auto;
    padding: 25px 0;
    width: 100%;
    border-bottom: 2px solid var(--primary-color); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.small-work-image {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.small-work-image img {
    width: 600px;
    height: 300px;
    object-fit: contain;
    width: 100%;
    
}

.small-work-info {
    flex: 2;
}
/* end work */

/* begin contact */

.contact-info h2 {
    border-bottom: none;
    
}

footer {
    background-color: var(--primary-color);
}

address {
    width: 80%;
    text-align: center;
}
/* end contact */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
      font-size: 30px;
    }
  
    header nav ul {
      margin: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 25px;
    }

    .small-work-image img{
        flex: 0 100%;
        margin-bottom: 15px;

    }
    .small-work-info {
        flex: 0 100%;

    }
    
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .large-work-image img {
        width: 100%;
    }
    
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header nav ul li a {
        padding: 10px;
    }
    .hero {
        width: 100%;
    }
    .my-photo img {
        flex: 0 100%;
        width: 100%;
        height: auto;
    

    }
   
}
  